/Debug/
/Release/
/FreeBSD/
.deps/
COPYING
Makefile
Makefile.am~
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
configure.ac~
stamp-h1
.gitignore~
