/Debug/
/Release/
/FreeBSD/
.deps/
COPYING
Makefile
Makefile.am~
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
configure.ac~
stamp-h1
.gitignore~
bootstrap.sh
bootstrap.sh~
compile
config.guess
config.h.in~
config.sub
depcomp
install-sh
missing
src/autoscan.log
src/configure.scan

